#myHeader {
    background-color: deeppink;
    color: black;
    padding: 40px;
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color: deeppink;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
body{
    background-color: lightpink;
    background-image: url("horse.jpg");
    background-position: top;
    background-repeat: no-repeat;
}