/Programmering/Øvinger/Øving10/nbproject/private/
/Programmering/Øvinger/Øving10/JavaApplication1/nbproject/private/
/Programmering/Øvinger/Øving10/JavaApplication1/build/
/Programmering/Øvinger/Øving12/Øving12/nbproject/private/
/Programmering/Øvinger/Øving12/Øving12/build/
/Programmering/Øvinger/Øving12/JOGL2Nehe02Basic2D/nbproject/private/
/Programmering/Øvinger/Øving12/JOGL2Nehe02Basic2D/build/
/Programmering/Øvinger/Øving12/JOGL2Nehe03Color/nbproject/private/
/Programmering/Øvinger/Øving12/JOGL2Nehe03Color/build/
/Programmering/Øvinger/Øving12/MulticolorCubeWithKeyboardListener/nbproject/private/
/Programmering/Øvinger/Øving12/MulticolorCubeWithKeyboardListener/build/